<ion-view view-title="Plugins Dashboard">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Alert Message</div>
            <div class="item item-body">
                <button class="button button-small button-positive" ng-click="showAlert()">
                    Show Alert
                </button>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Confirm Dialog</div>
            <div class="item item-body">
                <div>
                    <button class="button button-small button-balanced" ng-click="showConfirm()">
                        Show Confirm
                    </button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">InAppBrowser</div>
            <div class="item item-body">
                <div>
                    <button class="button button-small button-assertive" ng-click="openGoogle()">
                        Open Google
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
